<div class="page" *ngIf="!loading && data; else state">
  <p *ngIf="error" class="err" style="margin-bottom: 16px; padding: 12px; background-color: #fee; border-left: 4px solid #f44;">{{ error }}</p>

  <h2>Request information</h2>

  <div class="header">
    <div class="thumb">
      <i class="fa-solid fa-briefcase"></i>
    </div>
    <div class="title">
      <div class="name">{{ data.name }}</div>
      <div class="desc">{{ data.description }}</div>
    </div>
  </div>

  <div class="grid">
    <div>
      <span class="label"><i class="fa-solid fa-circle-info"></i> Status</span>
      <div class="value">{{ data.status }}</div>
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-calendar-days"></i> Open until</span>
      <div class="value">{{ openUntil() | date:'dd.MM.yyyy.' }}</div>
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-location-dot"></i> Location</span>
      <div class="value">{{ data.location }}</div>
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-user-tie"></i> Seniority level</span>
      <div class="value">{{ data.seniority }}</div>
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-user"></i> Created by</span>
      <div class="value">
        {{ data.createdByFullName }}
      </div>
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-clock"></i> Working hours</span>
      <div class="value">7-15h</div> <!-- $any(data)?.workingHours || '—' -->
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-money-bill-wave"></i> Salary</span>
      <div class="value">€{{ data.budget | number:'1.0-0' }}</div>
    </div>
    <div>
      <span class="label"><i class="fa-solid fa-code"></i> Technologies</span>
      <div class="value">{{ data.programmingLanguages }}</div>
    </div>
  </div>

  <div class="actions" *ngIf="showButtons()">
    <button class="danger" *ngIf="canReject()" (click)="openModal('reject')">
      <i class="fa-solid fa-xmark"></i> Refuse request
    </button>
    <button class="primary" *ngIf="canApprove()" (click)="openModal('approve')">
      <i class="fa-solid fa-check"></i> Approve
    </button>
  </div>
</div>
<div class="overlay" *ngIf="modalOpen" (click)="closeModal()"></div>
<div class="modal" *ngIf="modalOpen" (click)="$event.stopPropagation()">
  <h3>Comment</h3>
  <textarea [(ngModel)]="comment" rows="6" placeholder="Add a short explanation..."></textarea>
  <p class="err" *ngIf="commentErr">{{ commentErr }}</p>

  <div class="modal-actions">
    <button class="secondary" (click)="closeModal()">Cancel</button>
    <button class="primary"
            (click)="confirmModal()">
      {{ modalAction === 'approve' ? 'Approve' : 'Refuse offer' }}
    </button>
  </div>
</div>

<ng-template #state>
  <p *ngIf="loading">Loading…</p>
  <p *ngIf="!loading && error" class="err">{{ error }}</p>
</ng-template>