<div class="page" *ngIf="!loading && !error; else state">
  <h2>Interviews</h2>

  <div class="list">
    <div class="card" *ngFor="let i of items">
      <div class="ad-left">
        <div class="thumb">
          <i class="fa-solid fa-comments"></i>
        </div>
      </div>

      <div class="ad-main">

        <div class="grid">
          <div>
            <div class="label"><i class="fa-solid fa-tag"></i> Type</div>
            <div class="value name">{{ prettyEnum(i.type) }}</div>

            <div class="label mt"><i class="fa-solid fa-user"></i> Candidate</div>
            <div class="value">{{ i.candidateName }}</div>

            <div class="label mt"><i class="fa-solid fa-clock"></i> Duration</div>
            <div class="value">{{ i.duration }} min</div>
          </div>

          <div>
            <div class="label"><i class="fa-solid fa-circle-info"></i> Status</div>
            <div [class]="statusClass(i.status)">{{ prettyEnum(i.status) }}</div>

            <div class="label mt"><i class="fa-solid fa-location-dot"></i> Location</div>
            <div class="value">{{ i.location || '—' }}</div>

            <div class="label mt"><i class="fa-solid fa-calendar-days"></i> Date and time</div>
            <div class="value">{{ i.scheduledAt | date: 'dd.MM.yyyy. HH:mm' }}</div>

            <div class="more-wrapper">
            <a class="more"
                *ngIf="canEvaluate(i)"
                (click)="openEval(i)">
              <i class="fa-solid fa-pen-to-square"></i> Evaluate
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p *ngIf="items.length === 0" class="empty">No interviews.</p>
  </div>
</div>
<div class="modal-backdrop" *ngIf="showEvalModal">
  <div class="modal">
    <h3>Write a comment</h3>
    <textarea [(ngModel)]="evalComment" rows="6" placeholder="Optional comment..."></textarea>

    <div class="grade-row">
      <div class="label">Grade (1 - 10)</div>
      <select [(ngModel)]="evalGrade">
        <option [ngValue]="null" disabled>Select grade</option>
        <option *ngFor="let g of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="g">{{ g }}</option>
      </select>
    </div>

    <div class="modal-actions">
      <button (click)="submitEval()" [disabled]="evalGrade === null">Submit evaluation</button>
      <button class="secondary" (click)="cancelEval()">Cancel</button>
    </div>
  </div>
</div>

<ng-template #state>
  <p *ngIf="loading">Loading…</p>
  <p *ngIf="!loading && error" class="err">{{ error }}</p>
</ng-template>