<div class="page">
  <h2>{{ title }}</h2>

  <ng-container *ngIf="!loading && !error; else state">
    <div *ngFor="let j of items" class="card">
      <div class="thumb" [ngClass]="seniorityBadge(j.seniority).css">
        <span class="seniority-emoji">{{ seniorityBadge(j.seniority).emoji }}</span>
        <span class="seniority-label">{{ seniorityBadge(j.seniority).label }}</span>
      </div>

      <div class="main">
        <div class="name">{{ j.name }}</div>
        <div class="desc">{{ j.description }}</div>
      </div>

      <div class="side">
        <div class="row">
          <span class="label"><i class="fa-solid fa-location-dot"></i> Location</span>
          <span class="value">{{ j.location }}</span>
        </div>
        <div class="row">
          <span class="label"><i class="fa-solid fa-calendar-days"></i> Expires</span>
          <span class="value">{{ j.expires | date:'dd.MM.yyyy.' }}</span>
        </div>
        <div class="row">
          <span class="label"><i class="fa-solid fa-money-bill-wave"></i> Salary</span>
          <span class="value">{{ j.salary | number:'1.0-0' }}</span>
        </div>
        <a class="more" (click)="more(j.id)">
          <i class="fa-solid fa-arrow-right"></i> More
        </a>
      </div>
    </div>

    <p *ngIf="items.length === 0" class="empty">No jobs to show.</p>
  </ng-container>

  <ng-template #state>
    <p *ngIf="loading">Loading…</p>
    <p *ngIf="!loading && error" class="err">{{ error }}</p>
  </ng-template>
</div>